<h2>Post a Comment</h2>

<%= form_for([@post, @post.comments.build], remote: true) do |f| %>

  <div class="field">
    <%= f.label :body, 'New Comment:' %><br>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit Your Comment' %>
  </div>

<% end %>
