<div>
<h2>
  <strong>Post Title:</strong>
  <%= @post.title %>
</h2>
</div>


<p>
  <strong>Body:</strong>
  <%= @post.body %><br>
  <small>Updated at: <%= @post.updated_at %> by 
  <strong> <%= User.find(@post.user_id).email %> </strong>
  </small>

</p>

<br>

<div id="comment-list">
  <%= render partial: 'comments/list' %>
</div>

<br>

<div id="comment-form">
  <%= render partial: 'comments/form' %>
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
